:root {
  --default-height: 20px;
}

#line-marker {
	position: absolute;
	width: 100%;
	height: var(--default-height);
	z-index: 2147483647;
	display: none;
	background-color: yellow;
	mix-blend-mode: multiply;
}

#cursor {
	position: relative;
	width: 11px;
	height: var(--default-height);
	background-color: #C6C600;
}

#controls {
	width: 400px;
}

#controls span {
	font-family: courier;
	color: #222222;
}
